body {
  background: linear-gradient(-45deg, #42b5d6, #5d2696, #276387);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 3px;
}

.logo {
  color: white;
  text-align: center;
  padding: 20px;
}

.container {
  background: url(/img/1500x500.jfif) no-repeat center;
  height: 400px;
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0.8;
  background-size: cover;
}

.links {
  text-align: center;
  margin-top: 40px;
  border: 1px solid #29aeaa;
  border-width: 2px;
  padding: 10px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  font-size: 15px;
  margin-bottom: 50px;
  background-color: #7500f0;
}

a {
  text-decoration: none;
  color: white;
  transition: color 5s;
  font-weight: bold;
}

a:hover {
  color: black;
  font-weight: bold;
  background-color: #fff;
  border-radius: 5%;
}

.button {
  margin-top: 40px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: inline-flex;
  height: 50px;
  padding: 0;
  background: #7500f0;
  border: none;
  outline: none;
  border-radius: 40px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background: #fff;
  color: black;
}
.button:active {
  background: #42b5d6;
}

.button__text {
  display: inline-flex;
  align-items: center;
  padding: 0 30px;
  color: white;
  height: 100%;
}
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 30px;
  color: white;
  height: 100%;
}
